@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.section-title {
    color: #F00;
    font-family: Inter;
    font-size: 63px;
    font-weight: 574;
    margin-bottom: 40px;
}

.section-description {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}

.btn-primary {
    width: 82px;
    height: 24px;
    background-color: #F00;
    color: white;
    font-family: Inter;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.categorie-section {
    color: black;
    font-family: Inter;
    font-size: 39px;
    font-weight: 570;
    margin-top: 13px;
    margin-bottom: 0px;
}

.background-primary {
    width: 1080px;
    height: 490px;
    margin: 40px auto;
    border-radius: 13px;
}

.header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.0) 100%), url("../resources/Banner\ Image.png");
    /* background-image: url("../resources/Banner\ Image.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    text-align: center;
    color: white;
    font-family: Merriweather;
}

.new-year {
    width: 180px;
    height: 35px;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 140px;
    padding-left: 430px;
}

.title {
    width: 400px;
    height: 10px;
    font-size: 50px;
    font-weight: bold;
    padding-left: 280px;
    padding-bottom: 140px;
    line-height: 80px;
}

.offer-percentage {
    text-align: center;
    margin-top: 98px;
    margin-bottom: 0px;
}

.happy-new-image {
    width: 660px;
    height: 400px;
    margin-top: 40px;
}

.welcome-party-container {
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vectorrr.png");
    height: 490px;
    margin-top: 90px;
    border-radius: 13px;
}

.welcome-party-content {
    width: 80%;
}

.welcome-title {
    width: 500px;
    color: white;
    line-height: 72px;
    padding: 100px 0px 0px 100px;
    margin-bottom: 0;
    font-size: 52px;
}

#welcome-description {
    width: 570px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-weight: 330;
    line-height: 25px;
    padding: 0px 0px 0px 100px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.welcome-party-content>a {
    text-decoration: none;
}

#link-join {
    color: white;
    padding-left: 130px;
    font-size: 16px;
    font-weight: 570;
}

.welcome-party-content img {
    width: 260px;
    padding: 55px 113px;
}

.join-content {
    height: 394px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00)100%);
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 0px;
}

.join-section {
    text-align: center;
}

.join-content {
    padding-top: 80px;
}

.join-content>p {
    font-size: 25px;
    font-weight: 600;
}

.join-content>p,
button {
    margin-bottom: 38px;
}

.join-content p>span {
    color: #F00;
}

.new-offer-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#best-offer-deal {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

.best-offer-deal-title {
    margin-top: 13px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 574;
    text-transform: capitalize;
}

#best-offer-deal-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-weight: 320;
    margin-top: 18px;
}

.circle-section {
    background: url("../resources/Ellipse\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 290px 290px;
    border-radius: 290px;
    padding: 30px;
    width: 870.4px;
    height: 260.4px;
    border: 12px solid #F00;
    border-radius: 50%;
}

.new-offer-description {
    margin-left: 100px;

}

#new-year {
    font-size: 40px;
    font-weight: 570;
    margin-bottom: 0px;
}

#new-offer-description {
    width: 220px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 16px;
    font-weight: 320;
    margin-top: 13px;
    margin-bottom: 0px;
}

#happy-new-year-image {
    width: 112px;
    height: 112px;
    margin-top: 34px;
}

#holiday-sales-query {
    font-size: 20px;
    font-weight: 500;
    margin-top: 95px;
    margin-bottom: 0px;
}

#holiday-sales-title {
    font-size: 57px;
    font-weight: 720;
    margin-top: 13px;
}

#holiday-sales-title>span {
    color: #070211;
}

#holiday-sales-description {
    width: 850px;
    color: rgba(7, 2, 17, 0.60);
    margin-left: 213px;
}

.discount-container img {
    width: 230px;
    height: 210px;
}

.discount-container {
    /* */
    display: flex;
    margin-top: 50px;
    width: 1000px;
    height: 495px;
    background-image: url("../resources/Rectangle\ 2.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1020px 150px;
    border-radius: 13px;
}

#discount-img {
    width: 165px;
    height: 165px;
    /* position: relative; */
    margin-top: 90px;
    margin-left: -90px;
}

.discount-img {
    background-image: url("../resources/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-position: right;
    width: 343px;
    height: 346px;
    margin-left: 428px;
    background-size: 343px 346px;
}

#box-img{
    width: 300px;
    height: 300px;
    margin-top: 180px;
}
