@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}
header {
    width: 1080px;
    height: 490px;
    margin: 40px auto;
    background: linear-gradient(180deg, #070211 0%, rgba(7,2,17,0.0) 100%);
    background-image: url(../resources/Banner\ Image.png);
    border-radius: 13px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    text-align: center;
    color: white;
    font-family: Merriweather;
}
.new-year{
    width: 180px;
    height: 35px;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 140px;
    padding-left: 430px;
}
.title {
    width: 400px;
    height: 10px; 
    font-size: 50px;
    font-weight: bold;
    padding-left: 280px;
    padding-bottom: 140px;
    line-height: 80px;
}