@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.section-title {
    color: #F00;
    font-family: Inter;
    font-size: 63px;
    font-weight: 574;
    margin-bottom: 40px;
}

.section-description {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}
.btn-primary{
    font-family: Inter;

}
.categorie-section{
    color: black;
    font-family: Inter;
    font-size: 39px;
    font-weight: 570;
    margin-top: 13px;
    margin-bottom: 0px;
}
.background-primary{
    width: 1080px;
    height: 490px;
    margin: 40px auto;
    border-radius: 13px;
}
.header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.0) 100%), url("../resources/Banner\ Image.png");
    /* background-image: url("../resources/Banner\ Image.png"); */
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    text-align: center;
    color: white;
    font-family: Merriweather;
}
.new-year {
    width: 180px;
    height: 35px;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 140px;
    padding-left: 430px;
}
.title {
    width: 400px;
    height: 10px;
    font-size: 50px;
    font-weight: bold;
    padding-left: 280px;
    padding-bottom: 140px;
    line-height: 80px;
}

.offer-percentage {
    text-align: center;
    margin-top: 98px;
    margin-bottom: 0px;
}
.happy-new-image{
    width: 660px;
    height: 400px;
    margin-top: 40px;
}
.welcome-party-container{
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7,2,17,0.00) 100%), url("../resources/Vectorrr.png");
    height: 490px;
    margin-top: 90px;
    border-radius: 13px;
}
.welcome-party-content{
    width: 80%;
}
.welcome-title{
    width: 500px;
    color: white;
    line-height: 72px;
    padding: 100px 0px 0px 100px;
    margin-bottom: 0;
    font-size: 52px;
}
#welcome-description{
    width: 570px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-weight: 330;
    line-height: 25px;
    padding: 0px 0px 0px 100px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.welcome-party-content > a{
    text-decoration: none;
}
#link-join{
    color: white;
    padding-left: 130px;
    font-size: 16px;
    font-weight: 570;
}
.welcome-party-content img{
    width: 260px;
    padding: 55px 113px;
}